._btn-salvar{
    width: 30%;
}

._container-img-previa{
    margin-top: 10px;
    width: 70px;
    height: 50px;
}
._container-img-previa img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media(max-width:992px){
    ._btn-salvar{
        width: 100%;
    }
}