*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


#title-principal p{
    width: 60%;
    font-size: 14px;
}



#logo-nostra{
    position: absolute;
    margin: auto;
    right: 6%;
}
#logo-nostra img{
    width: 120px;
}
@media(max-width:992px){
    #logo-nostra{
        position: initial;
        margin: 20px auto;
        right: initial;
    }
}



@media(max-width:992px){
    #container-obs{
         width: 85%;
         margin: 0 auto;
    }
}








.container-informacoes{
    border-bottom: 1px solid #00000067;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 45px;
}
.container-informacoes h1{
    width: 80%;
    font-size: 25px;
    text-align: center;
}
.container-informacoes img{
    width: 50%;
}
.container-informacoes p{
    margin-top: 25px;
    width: 50%;
    text-align: center;
    font-size: 14px;
}
@media(min-width:1500px){
    .container-informacoes h1{
        font-size: 30px;
    }
    .container-informacoes p{
        font-size: 16px;
    }
}
@media(max-width:992px){
    .container-informacoes{
        width: 90%;
    }
    .container-informacoes h1{
        font-size: 20px;
    }
    .container-informacoes img{
        width: 95%;
    }
    .container-informacoes p{
        margin-top: 20px;
        width: 80%;
        text-align: center;
        font-size: 13px;
    }
}